<div id="features-wrapper" ng-controller='myApp'>
  <div class="container">
    <h1>Listing Users</h1>
    <table>
      <tr class="row">
        <th class="2u">Image</th>
        <th class="2u">Name</th>
        <th class="2u">Email</th>
        <th class="2u">Education</th>
        <th class="2u">Gender</th>
      </tr>
      <% @users.each do |user| %>
      <tr class="row">
        <td class="2u"><%= image_tag(user.image) %></td>
        <td class="2u"><%= user.name %></td>
        <td class="2u"><%= user.email %></td>
        <td class="2u"><%= user.education %></td>
        <td class="2u"><%= user.gender %></td>
      </tr>
      <% end %>
    </table>
    <br />
  </div>
  <div class="container">
    <h1>Listing articles</h1>
    <table>
      <tr class="row">
        <th class="4u">Title</th>
        <th class="6u">Context</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @articles.each do |article| %>
      <tr class="row">
        <td class="4u"><%= article.title %></td>
        <td class="6u"><%= article.context.html_safe %></td>
        <td class="1u"><%= link_to 'Edit', edit_article_path(article) %></td>
        <td class="1u"><%= link_to 'Destroy', '/delete/noway/article/'+article.id.to_s %></td>
      </tr>
      <% end %>
    </table>
    <br />
    <%= render 'form' %>
  </div>
</div>
