<div id="features-wrapper" ng-controller='myApp'>
  <div class="container">
    <h1>Listing articles</h1>
    <table>
      <tr class="row">
        <th class="4u">Title</th>
        <th class="6u">Context</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @articles.each do |article| %>
      <tr class="row">
        <td class="4u"><%= article.title %></td>
        <td class="6u"><%= article.context.html_safe %></td>
        <td class="1u"><%= link_to 'Edit', edit_article_path(article) %></td>
        <td class="1u"><%= link_to 'Destroy', '/delete/noway/article/'+article.id.to_s %></td>
      </tr>
      <% end %>
    </table>
    <br />
    <%= render 'form' %>
  </div>
</div>
