<!DOCTYPE html>
<html ng-app='myApp'>
	<head>
		<title><%= @title || 'NTU'%></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min
		.css">
		<meta name="viewport" content="width=1200,user-scalable=no" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="台大實境英文簡報大賽 NTU English Presentation Contest" />
		<meta name="keywords" content="臺大,演講,NTU,Contest,比賽,EPC,NTUEPC,台大實境英文簡報大賽,NTU English Presentation Contest " />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dropotron.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		<noscript>
		<link rel="stylesheet" href="/css/skel.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<%= csrf_meta_tags %>
	</head>
	<body>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54426831-1', 'auto');
  ga('send', 'pageview');

</script>
		<div id="fb-root"></div>
		<script type="text/ng-template" id="myModalContent.html">
			<div class="model-html">
				<div class="thumbnail">
					<div class="embed-responsive embed-responsive-16by9">
						<div id='youtubeCode'></div>
					</div>
					<div class="caption">
						<div class='model-image'>
							<img class="img-responsive" ng-src='{{items.image}}/convert?w=70&h=70'>
						</div>
						<h3 class="model-title" ng-bind='items.name' ></h3>
						<ul class='modal-tag'>
							<li ng-bind='items.topic'></li>
							<li ng-bind='"點閱次數: "+items.view'></li>
							<li ng-bind='"Thumb ups: "+likes'></li>
						</ul>
						<p>
						<span ng-bind='items.school'></span>
						<span ng-bind='items.major'></span>
						<span ng-bind='years[items.year].index'></span>
						</p>
						<p ng-bind='items.videoInfo'>
						</p>
					</div>
				</div>
			</div>
		</script>
		<!-- Header -->
		<div id="header-wrapper">
			<header id="header" class="container">
				<!-- Logo -->
				<div id="logo">
						<a href="/"><img src="images/logo.png"/ width="216px"></a>
				</div>
				<!-- Nav -->
				<nav id="nav">
					<ul ng-controller='myApp'>
						<li><a href="/">Homepage</a></li>
						<!-- 						<li>
							<a href="">More</a>
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Magna phasellus</a></li>
								<li>
									<a href="">Phasellus consequat</a>
									<ul>
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">Phasellus consequat</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
									</ul>
								</li>
								<li><a href="#">Veroeros feugiat</a></li>
							</ul>
						</li> -->
						<li><a ng-if='current_user' href="/get_enroll">Enroll now</a></li>
						<li><a ng-if='!current_user' href="/auth/facebook">Sign in and Enroll now</a></li>
						<li><a href="#" ng-click='goToBulletin()'>Bulletin</a></li>
						<li><a href="/enrolls">Videos</a></li>
						<li ng-if='!!current_user'>
							<strong ng-bind='current_user.name'></strong>
							<a href='/signout' id='sign_out'>Sign out</a>
						</li>
						<li ng-if='!current_user'>
							<a href='/auth/facebook' id='sign_in'>Sign in with Facebook</a>
						</li>
					</ul>
				</nav>
			</header>
		</div>
		<%= yield %>
		<!-- Footer -->
		<div id="footer-wrapper">
			<footer id="footer" class="container">
				<div class="row">
					<div class="3u">
						<!-- Contact -->
						<section class="widget contact last">
							<h3>Contact Us</h3>
							<ul>
								<li><a href="https://www.facebook.com/ntuepc" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							</ul>
							<p>ntuepc2014@gmail.com</p>
						</section>
					</div>
				</div>
			</footer>
		</div>
		<%= javascript_include_tag "application" %>
		<script src="//code.angularjs.org/1.2.0/angular-sanitize.js"></script>
		<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
		<script>tinymce.init({selector:'textarea'});</script>
	</body>
</html>
