<!DOCTYPE html>
<html ng-app='myApp'>
	<head>
		<title><%= @title || 'NTU'%></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=1200,user-scalable=no" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dropotron.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		<script src="/js/tinymce.js" type="text/javascript"></script>
		<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
		<noscript>
		<link rel="stylesheet" href="/css/skel.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="fb-root"></div>
		<script type="text/ng-template" id="myModalContent.html">
			<div class="model-html">
				<div class="thumbnail">
					<div class="embed-responsive embed-responsive-16by9">
						<div id='youtubeCode'></div>
					</div>
					<div class="caption">
						<div class='model-image'>
							<img class="img-responsive" ng-src='{{items.image}}/convert?w=70&h=70'>
						</div>
						<h3 class="model-title" ng-bind='items.name' ></h3>
						<ul class='modal-tag'>
							<li ng-bind='topics[items.topic].index'></li>
							<li ng-bind='"點閱次數: "+items.view'></li>
						</ul>
						<p>
						<span ng-bind='items.school'></span>
						<span ng-bind='items.major'></span>
						<span ng-bind='years[items.year].index'></span>
						</p>
						<p ng-bind='items.videoInfo'>
						</p>
					</div>
				</div>
			</div>
		</script>
		<!-- Header -->
		<div id="header-wrapper">
			<header id="header" class="container">
				<!-- Logo -->
				<div id="logo">
					<h1><a href="/">NTU</a></h1>
					<span>by </span>
				</div>
				<!-- Nav -->
				<nav id="nav">
					<ul ng-controller='myApp'>
						<li><a href="/">Homepage</a></li>
						<!-- 						<li>
							<a href="">More</a>
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">Magna phasellus</a></li>
								<li>
									<a href="">Phasellus consequat</a>
									<ul>
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">Phasellus consequat</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
									</ul>
								</li>
								<li><a href="#">Veroeros feugiat</a></li>
							</ul>
						</li> -->
						<li><a href="/get_enroll">Enroll now</a></li>
						<li><a href="/enrolls">Others</a></li>
						<li ng-if='!!current_user'>
							<strong ng-bind='current_user.name'></strong>
							<a href='/signout' id='sign_out'>Sign out</a>
						</li>
						<li ng-if='!current_user'>
							<a href='/auth/facebook' id='sign_in'>Sign in with Facebook</a>
						</li>
					</ul>
				</nav>
			</header>
		</div>
		<%= yield %>
		<!-- Footer -->
		<div id="footer-wrapper">
			<footer id="footer" class="container">
				<div class="row">
					<div class="3u">
						<!-- Links -->
						<section class="widget links">
							<h3>Random Stuff</h3>
							<ul class="style2">
								<li><a href="#">Etiam feugiat condimentum</a></li>
								<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
								<li><a href="#">Sed porttitor cras in erat nec</a></li>
								<li><a href="#">Felis varius pellentesque potenti</a></li>
								<li><a href="#">Nullam scelerisque blandit leo</a></li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<!-- Links -->
						<section class="widget links">
							<h3>Random Stuff</h3>
							<ul class="style2">
								<li><a href="#">Etiam feugiat condimentum</a></li>
								<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
								<li><a href="#">Sed porttitor cras in erat nec</a></li>
								<li><a href="#">Felis varius pellentesque potenti</a></li>
								<li><a href="#">Nullam scelerisque blandit leo</a></li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<!-- Links -->
						<section class="widget links">
							<h3>Random Stuff</h3>
							<ul class="style2">
								<li><a href="#">Etiam feugiat condimentum</a></li>
								<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
								<li><a href="#">Sed porttitor cras in erat nec</a></li>
								<li><a href="#">Felis varius pellentesque potenti</a></li>
								<li><a href="#">Nullam scelerisque blandit leo</a></li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<!-- Contact -->
						<section class="widget contact last">
							<h3>Contact Us</h3>
							<ul>
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
							</ul>
							<p>1234 Fictional Road<br />
							Nashville, TN 00000<br />
							(800) 555-0000</p>
						</section>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
